body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('../imagenes/fondoA.jpg'); /* Ajusta la ruta de la imagen según tu estructura */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgba(211, 211, 211, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
  padding: 40px;
  width: 80%;
  max-width: 1000px;
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 30px;
}

.form-group {
  text-align: left;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group.col-md-6 {
  flex-basis: 48%;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="file"],
.form-control {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="file"]:focus,
.form-control:focus {
  outline: none;
  border-color: #007bff;
}

input[type="file"] {
  cursor: pointer;
}

#preview {
  margin-top: 20px;
  text-align: left;
}

#preview p {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #6c757d !important;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color:#5a6268 !important;
}
.boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #0056b3;
}

.boton:active {
    background-color: #003f7f;
}